.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto;
}

.carousel-image img {
    width: 100%;
    max-width: 800px;
    height: 800px;
    object-fit: contain;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}
