@property --a {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false
}

.project-card {
    overflow: hidden;
    font-size: 2rem;
    border-radius: 20px;
    padding: 20px;
    color: #ededed;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.project-card::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1em;
    filter: blur(.35em);
    border-image: conic-gradient(from var(--a), rgba(0, 225, 255, 0.55), rgba(0, 225, 255, 0.8), #00e1ff,
        #00e1ff, #00e1ff, #00e1ff,
    #00e1ff, #ff00e3, #ff00e3, #ff00e3,
    rgba(255, 0, 227, 0.87), rgba(255, 0, 227, 0.84),
    rgba(255, 0, 227, 0.56)) 1;
    z-index: -1;
    animation: animate 25s linear infinite;
}
@keyframes animate {
    to {
        --a: 1turn;
    }
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.tech-tag {
    background-color: #00e1ff;
    color: #000000;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
    filter: drop-shadow(0 0 5px rgb(0, 225, 255));
}

.tech-tag:hover {
    background-color: #ff00e3;
    color: black;
}

